<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.normanda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/background_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Normanda">

        <!--START SPLASH SCREEN-->
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--START MAIN ACTIVITY-->
        <activity android:name=".MainActivity">
            <!--SOME SHIT-->
        </activity>
    </application>

</manifest>